$primary: #353277;
$deep-gray: #333;
$light-gray: #eee;
$text-body-color: #222;
$font-size: 16px;
$font-size-s: 12px;
$font-size-m: $font-size;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 48px;
$rhythm-1: 1.5rem; // 24px
$rhythm-2: 3rem; // 48px
$rhythm-3: 4.5rem; // 72px

/**
 * Global styles
 */
html, body {
  font-family: -apple-system, "Roboto", sans-serif;
  font-size: $font-size;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: auto;
}

a {
  color: $primary;
}

.root {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  /* Stop margin collapse */
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
}

.surprise {
  background-color: lighten($primary, 50%);
  display: block;
  height: 100px;
  width: 100%;
  margin-top: -90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-xl;
  font-weight: bold;
  color: $primary;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  padding-left: calc(20px + env(safe-area-inset-left));
  padding-right: calc(20px + env(safe-area-inset-right));
}

/**
 * Site header
 */
.site-header {
  margin-bottom: $rhythm-2;

  &::before {
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    background: $primary;
    position: absolute;
    top: 0;
  }
}

.site-header__title {
  margin: $rhythm-1 / 2 0;
  font-size: $font-size-xl;
  line-height: 1.5em;
  position: relative;
  left: -5px;
}

.site-header__title-link {
  transition: color 300ms linear, text-shadow 300ms linear;
  text-decoration: none;
  color: $text-body-color;

  &:hover {
    color: lighten($primary, 10%);
    text-shadow: 0px -1px 0px $light-gray;
  }
}

/**
 * Navigation
 */
.navigation {}

.navigation__items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__item {
  display: inline-block;

  &:not(:last-child)::after {
    margin: 0 3px;
    content: "·";
  }

  a {
    color: $text-body-color;
  }
}

/**
 * Articles list
 */
.articles {
  list-style: none;
  padding: 0;
  margin: 0 0 $rhythm-2;
}

.articles__title {
  font-size: $font-size-m;
  line-height: 1.5em;
  margin: $rhythm-1 / 4 0;
  display: inline-block;
}

.articles__date {
  display: none;
}

@media (min-width: 900px) {
  .articles__date {
    display: inline-block;
    color: $deep-gray;
    font-size: $font-size-s;

    &::before {
      margin: 0 3px;
      content: "·";
    }
  }
}

/**
 * Article
 */
.article {}

.article--narrow {
  max-width: 30em;
}

.article-header {
  margin-bottom: $rhythm-1;
}

.article-header__title {
  font-size: $font-size-xxl;
  line-height: 1em;
  margin: 0 0 $rhythm-1;
}

.article-header__date {
  color: $deep-gray;
  font-size: $font-size-s;
  display: inline-block;
}

.article-content {
  p {
    margin: 0 0 $rhythm-1;
  }

  ul {
    margin: 0 0 $rhythm-1;
    padding-left: $rhythm-1;
  }

  li {
    margin: 0;
  }

  h2 {
    margin: $rhythm-2 0 $rhythm-1;
    line-height: 1.5em;
    font-size: $font-size-xl;
  }

  p, li {
    font-size: $font-size;
    line-height: 1.5em;
    color: $text-body-color;
  }

  p > code {
    background-color: $light-gray;
    padding: 2px 5px;
    border-radius: 4px;
  }

  a {
    text-decoration: underline;
  }
}

.article-comments {
  margin-top: $rhythm-2;
  padding-top: $rhythm-1;
  border-top: 1px solid $light-gray;
}

.highlight {
  padding: 0;
  margin: $rhythm-1 0;
  border: 1px solid transparent;
  border-radius: 3px;

  code {
    padding: $rhythm-1;
    font-family: "Inconsolata", monospace;
    line-height: 1.5em;
    white-space: inherit;
    overflow-x: scroll;
    display: block;
  }
}
