@font-face
  font-family: Droid
  src: url('/stylesheets/DroidSans.ttf')

@font-face
  font-family: Droid
  font-weight: bold
  src: url('/stylesheets/DroidSans-Bold.ttf')

html, body
  font-family: 'Droid' sans

a
  color: darken(#81C356, 10%)
  text-decoration: none

#container
  width: 800px
  margin: auto
  #header
    text-align: center
    a#home
      display: inline-block
      color: #333
    h1, h2
      display: inline-block
    h1
      font-size: 3em
    #nav
      ul
        padding: 0
        list-style: none
      li
        display: inline-block
        margin: 0 5px
      a
        color: #999
  #blog
    article
      padding: 10px
      &:not(:first-child)
        border-top: 1px solid #eee
      .heading
        h2.title
          float: left
        .date
          float: right
          color: #666
          font-size: 12px
          position: relative
          top: 26px
.highlight
  padding: 10px 0
  border-radius: 5px
  border: 1px solid #666
  pre
    white-space: pre-wrap

.clearfix
  clear: both
