%article.article
  %section.article-header
    %h1.article-header__title
      %a{:href => article.url}= article.title
    %time.article-header__date{:pubdate => ""}= article.date.strftime('%b %e, %Y')
  %section.article-content= article.body
  %section.article-comments= partial 'comments'
