%article
  .content
    %img#me{src: '/images/me.jpg'}
    %p My name is Tomasz Pewiński, and I'm a programmer/web developer based in Poland.
    %p My interests include various aspects of web development, programming (mainly in JavaScript and ruby) and computer systems.
    %p<
      I'm currently working as senior software developer at&nbsp;
      %a{href: 'http://netguru.co', target: '_blank'}> netguru
      \.
    %p<
      Contents of this blog (unless otherwise noted) are available under&nbsp;
      %a{href: 'http://creativecommons.org/licenses/by/3.0', target: '_blank'}> Creative Commons Attribution 3.0 License
      \. No warranty is granted.
