%article.article
  %section.article-content
    %img.profile-picture{src: '/images/me.jpg'}
    %p<
      I'm a programmer/web developer. Currently working as a senior software developer at&nbsp;
      %a{href: 'https://softwaremill.com', target: '_blank'}> SoftwareMill
      \.
    %p My interests include various aspects of web development, programming (mainly in JavaScript) and computer science.
    %p<
      Best way to contact me would be by&nbsp;
      %a{href: 'https://linkedin.com/pub/tomasz-pewiński/70/955/94', target: '_blank'}> LinkedIn
      \.
    %p<
      The contents of this blog (unless otherwise noted) are available under&nbsp;
      %a{href: 'http://creativecommons.org/licenses/by/3.0', target: '_blank'}> Creative Commons Attribution 3.0 License
      \. No warranty is granted.
