- data.blog.articles.each_with_index do |article, i|
  %article{:class => (i == 0) ? 'first' : ''}
    .heading
      %h2.title
        %a{:href => article.url}= article.title
      %time.date= article.date.strftime('%b %e %Y')
      .clearfix
    - if i == 0
      .content
        = article.summary
        .more
          %a{href: article.url} read more &raquo;
