- data.blog.articles.each_with_index do |article, i|
  %article
    .heading
      %h2.title
        %a{:href => article.url.gsub(/\.html$/, '')}= article.title
      %time.date= article.date.strftime('%b %e %Y')
      .clearfix
